<p-card *ngFor="let item of items" [header]="item.name" (click)="showItemDetails(item)">
  <ng-template pTemplate="content">
    <p-image *ngIf="item.imageUrl" src="{{item.imageUrl}}" alt="Image" width="250"></p-image>
    <p>Estimated Value: {{ item.estimatedValue }}</p>
    <p>Minimal Value: {{ item.minimalValue }}</p>
    <p>End of Auction: {{ item.endOfAuction }}</p>
    <app-micro-fe *axLazyElement="url" [attr.date]="item.endOfAuction" ></app-micro-fe>
  </ng-template>
</p-card>

<p-dialog header="Item Details" [(visible)]="displayDialog" [modal]="true" [responsive]="true">
  <app-item-detail-dialog [selectedItem]="selectedItem"></app-item-detail-dialog>
</p-dialog>
