.form-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.input-group {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr; /* Two columns */
}

.dropdowns {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr; /* Two columns */
}

.date-picker {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
