<div class="form-container">
  <div class="input-group">
    <input type="text" [(ngModel)]="dialogConfig.data.name" pInputText placeholder="Name" />
    <input type="text" [(ngModel)]="dialogConfig.data.description" pInputTextarea placeholder="Provide a description..." rows="4" />
    <input [(ngModel)]="dialogConfig.data.estimatedValue" pInputText type="number" placeholder="Estimated value..." />
    <input [(ngModel)]="dialogConfig.data.minimalValue" pInputText type="number" placeholder="Minimal value..." />
  </div>

  <div class="dropdowns">
    <p-dropdown [options]="categories" optionLabel="name" [(ngModel)]="dialogConfig.data.category" (onChange)="handleSubcategoryLoad()" placeholder="Select Category"></p-dropdown>
    <p-dropdown [options]="subcategories" optionLabel="name" [(ngModel)]="dialogConfig.data.subCategory" placeholder="Select Subcategory"></p-dropdown>
  </div>

  <div class="date-picker">
    <p-calendar [(ngModel)]="dialogConfig.data.selectedDate" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="Choose a date"></p-calendar>
  </div>

  <label>Image File</label>
  <input pInputText type="file" (change)="onUpload($event)" accept="image/*" id="">
  <div class="actions">
    <button pButton type="button" label="Cancel" (click)="onCancelClick()"></button>
    <button pButton type="button" label="Save" (click)="onSaveClick()"></button>
  </div>
</div>
