<div class="countdown-container">
  <h1>Countdown Timer</h1>
  <label for="countdownDate">Enter a future date:</label>
  <input type="datetime-local" [(ngModel)]="countdownDate" id="countdownDate">
  <button (click)="startCountdown()">Start Countdown</button>
  <div id="countdown">{{ remainingTime }}</div>
</div>
