<h3>{{ selectedItem?.name }}</h3>
<p-image *ngIf="selectedItem?.imageUrl" src="{{selectedItem?.imageUrl}}" alt="Image" width="250"></p-image>
<p>Estimated Value: {{ selectedItem?.estimatedValue }}</p>
<p>Minimal Value: {{ selectedItem?.minimalValue }}</p>
<p>End of Auction: {{ selectedItem?.endOfAuction }}</p>

<!-- Actual Bid and Bidders -->
<h4>Current Bid: {{ selectedItem?.actualBid }}</h4>
<h4>Bidders:</h4>
<ul>
  <li *ngFor="let bidder of bidders">{{ bidder?.personOutgoingDto?.name }} - {{ bidder?.bidPrice }}</li>
</ul>

<!-- Place Bid Section -->
<div>
  <input
    type="number"
    [value]="newBidAmount"
    [(ngModel)]="newBidAmount"
    placeholder="Enter bid amount">
  <button (click)="placeBid()">Place Bid</button>
</div>

<!-- Creator Information -->
<div style="float: right;">
  <h4>Creator Information:</h4>
  <p>Name: {{ creator?.name }}</p>
  <p>Email: {{ creator?.email }}</p>
  <p>Phone Number: {{creator?.phone}}</p>
  <!-- Add more creator information as needed -->
</div>
