<div style="display: flex; justify-content: space-between; align-items: center;">
  <div>
    <h1>About App</h1>
    <a>About Catawiki</a>
    <a>Our Experts</a>
    <a>Careers</a>
  </div>
  <div>
    <h1>Buy</h1>
    <a>How to Buy</a>
  </div>
  <div>
    <h1>Sell</h1>
    <a>How to Sell</a>
  </div>
  <div>
    <h1>My bids</h1>
    <a>Sign in</a>
  </div>
</div>
