<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <img src="assets/app-icon.png" height="40" class="mr-2" routerLink="home"/>
  </ng-template>
  <ng-template pTemplate="end">
      <span class="p-button p-component">
      <button type="button" pButton icon="pi pi-plus" (click)="openNewItemDialog()"></button>
    </span>
  </ng-template>
</p-menubar>
